/* .container {
    width: 794px;
} */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.wrapper a img {
    width: 149px;
    height: 220px;
    text-align: center;
}

.App-Body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
}

#root {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.15;
    letter-spacing: .02em;
}

h1 {
    color: red;
}

h2 {
    /* Adjust the height as needed */
    background-color: black;
    /* Change the color if desired */
    padding-left: 1.5rem;
    position: relative;
}

h2::before {
    content: " ";
    align-self: flex-start;
    position: absolute;
    background-color: red;
    padding-left: .75rem;
    height: 100%;
    width: 1px;
    margin-left: -1.5rem;
}

footer {
    margin: 100px;
}