#root {
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    line-height: 1.15;
    letter-spacing: .02em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --main-imdb-yellow-color: rgb(245, 197, 24);
}

svg {
    fill: white;
}

.App-Body {
    display: flex;
    flex-direction: column;
}

.App-header-text {
    font-size: 2rem;
    color: var(--main-imdb-yellow-color)
}

footer {
    margin: 100px;
}

.App-container {
    display: flex;
    margin: 0 auto;
    max-width: 1280px;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
}

.App-header {
    padding: 0 24px;

}