.genre-wrapper-container {
    position: relative;
}

.genre-wrapper {
    display: grid;
    grid-gap: 1.55rem;
    grid-auto-columns: calc(8.3333333333% - ((11 / 12) * 1.5rem) - 0rem);
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.genre-wrapper::-webkit-scrollbar {
    display: none;
}

.genre-a-image {
    /* width: 185px;
    height: 274px; */
    width: 100%;
    text-align: center;
}

h1 {
    color: var(--main-imdb-yellow-color);
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.genre-container {
    padding: 24px 0px;
}

.genre-header-text {
    background-color: black;
    padding-left: .75rem;
    position: relative;
}

.genre-header-text::before {
    content: " ";
    align-self: flex-start;
    position: absolute;
    background-color: var(--main-imdb-yellow-color);
    padding-left: .25rem;
    height: 100%;
    width: 1px;
    margin-left: -.75rem;
    border-radius: 10px;
}

.genre-header {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.genre-header-svg {
    width: 19px;
    height: 19px;
    margin-left: .5em;
}

.genre-header,
.genre-wrapper {
    padding: 0 1.5rem;
}

.genre-poster-card {
    background-color: #1a1a1a;
    max-width: 100%;
    width: 100%;
    grid-column: span 2;
    border-radius: 4px;
}

.genre-poster-card-info {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    margin-top: 8px;
}

.genre-poster-card-info-rating {
    display: flex;
    align-items: center;
}

.genre-poster-card-info-rating-star-container {
    color: rgb(255, 255, 255, .7);
}

.genre-poster-card-info-rating-star-svg {
    margin-right: 0.15em;
    fill: var(--main-imdb-yellow-color);
    height: 0.8em;
    width: 1em;
    margin-right: 0.15em;
}

.genre-poster-card-info-rate-button {
    padding: 0 0.75rem;
    background: transparent;
    color: blue;
    border: none;
    min-width: 3rem;
    min-height: 2.25rem;
    max-width: 100%;
    position: relative;
}

.genre-poster-card-info-rate-button-svg-container {
    color: #5799ef;
    margin-right: 0;
}

.genre-poster-card-info-rate-button-svg {
    fill: #5799ef;
    height: 0.8em;
    width: 1.5em;
    margin-right: 0.15em;
}

.genre-poster-card-info-title {
    height: 2.5rem;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25rem;
}

.genre-poster-card-info-title-span {}

.genre-poster-card-info-actions-watchlist {
    min-height: 2.25rem;
    padding: 0 1rem;
    width: 100%;
    color: rgb(87, 153, 239);
    background: hsla(0, 0%, 100%, .08);
    outline: 0;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.genre-poster-card-info-actions {
    padding-top: .75rem;
}

.genre-poster-card-info-actions-trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}

.genre-poster-card-info-actions-trailer-a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.25rem;
}

.genre-poster-card-info-actions-trailer-svg,
.genre-poster-card-info-actions-watchlist-svg {
    margin-right: .25rem;
}

.genre-poster-card-info-actions-trailer-span,
.genre-poster-card-info-actions-watchlist-span {
    font-weight: 600;
    font-size: 14px;
}

.genre-poster-card-info-actions-watchlist-svg {
    fill: rgb(87, 153, 239);
}

.prev-button,
.next-button {
    border-radius: 4px;
    background: hsla(0, 0%, 7%, .45);
    border: 1px solid hsla(0, 0%, 100%, .7);
    padding: 1.25rem .75rem;
    z-index: 5;
    position: absolute;
    bottom: 50%;
    transition: all .25s ease-out;
    opacity: 0;
}

.prev-button {
    left: 0;
}

.next-button {
    right: 0;
}

.genre-wrapper-container:hover .active-button-prev,
.active-button {
    opacity: 1;
}

.genre-poster-card-image {
    position: relative;
}

.genre-poster-card-image-a {
    display: block;
    height: 100%;
}

.genre-poster-card-image-svg {
    position: absolute;
}

.genre-poster-card-image .ribbon-m {
    font-size: 1.5rem;
    width: 2rem;
    height: 2.6rem;
}