.genre-wrapper {
    display: grid;
    grid-gap: 1.55rem;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.genre-wrapper::-webkit-scrollbar {
    display: none;
}

.genre-a-image {
    width: 185px;
    height: 274px;
    text-align: center;
}

h1 {
    color: var(--main-imdb-yellow-color);
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.genre-container {
    padding: 24px 0px;
}

.genre-header-text {
    background-color: black;
    padding-left: .75rem;
    position: relative;
}

.genre-header-text::before {
    content: " ";
    align-self: flex-start;
    position: absolute;
    background-color: var(--main-imdb-yellow-color);
    padding-left: .25rem;
    height: 100%;
    width: 1px;
    margin-left: -.75rem;
    border-radius: 10px;
}

.genre-header {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.genre-header-svg {
    width: 19px;
    height: 19px;
    margin-left: .5em;
}

.genre-header,
.genre-wrapper {
    padding: 0 1.5rem;
}

.genre-poster-card {
    background-color: #1a1a1a;
    max-width: 100%;
}

.genre-poster-card-info {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
}

.genre-poster-card-info-rating {
    display: flex;
    align-items: center;
}

.genre-poster-card-info-rating-star-container {
    color: rgb(255, 255, 255, .7);
}

.genre-poster-card-info-rating-star-svg {
    margin-right: 0.15em;
    fill: var(--main-imdb-yellow-color);
    height: 0.8em;
    width: 1em;
    margin-right: 0.15em;
}

.genre-poster-card-info-rate-button {
    padding: 0 0.75rem;
    background: transparent;
    color: blue;
    border: none;
    min-width: 3rem;
    min-height: 2.25rem;
    max-width: 100%;
    position: relative;
}

.genre-poster-card-info-rate-button-svg-container {
    color: #5799ef;
    margin-right: 0;
}

.genre-poster-card-info-rate-button-svg {
    fill: #5799ef;
    height: 0.8em;
    width: 1.5em;
    margin-right: 0.15em;
}

.genre-poster-card-info-title {
    height: 2.5rem;
    width: 100%;
}

.genre-poster-card-info-title-span {}