.search-bar-input-suggestion-results {
    display: flex;
    padding: 0.5rem;
    border-color: rgba(255, 255, 255, 0.25);
    border-top-width: 1px;
    border-top-style: solid;
}

.search-bar-input-suggestion-results:first-child {
    border-top-width: 0;
}

.search-bar-input-suggestion-results:hover {
    background: rgba(255, 255, 255, 0.08);
}

.search-bar-input-suggestion-results-image-container {
    margin: 0px 1rem 0px 0px;
    width: 48px;
    height: 71px;
}

.search-bar-input-suggestion-results-info {
    display: flex;
    flex-direction: column;
    height: 71px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.search-result-title {
    font-size: 1rem;
    letter-spacing: .03125em;
    line-height: 1.5rem;
    font-weight: 500;
}

.search-bar-input-suggestion-results-image {
    width: 48px;
    height: 71px;
}

.search-bar-input-suggestion-results-info span,
.search-bar-input-suggestion-results-info strong {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
    width: 100%;
}

.search-bar-input-suggestion-results-info span {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 601px) {
    .search-bar--focused {
        outline: none;
        box-shadow: inset 0 0 0 2px rgb(245, 197, 24);
        border-radius: .25rem;
    }
}

.search-bar-input-suggestions-all {
    font-size: .875rem;
    letter-spacing: .01786em;
    line-height: 1.25rem;
    border-top-width: 1px;
    border-top-style: solid;
    color: inherit;
    padding: 0.5rem;
    border-color: rgba(255, 255, 255, 0.25);
}

.search-bar-input-suggestions {
    transition: opacity 0.3s ease;
    opacity: 1;
}

.search-bar-input-suggestions.hide {
    opacity: 0;
}

.search-bar-input::placeholder {
    font-weight: 545;
}

.suggestion-results-undefined-image {
    height: 100%;
    width: 100%;
    background: #2a2a2a;
    color: hsla(0, 0%, 100%, .1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion-results-undefined-image-svg {
    height: 2.2em;
    width: 2.2em;
    fill: #3f3f3f;
}

@media screen and (max-width: 600px) {
    .search-bar-input-suggestions {
        top: 100%;
    }
}